@import '../../sass/_vars.scss';

.input {
    outline: none;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid $orange;
    background: $black-secondary;
    color: $orange;
    text-align: center;
    font-size: 16px;
    box-shadow: 9px 9px 10px $black-secondary;
    &--conversion {
      margin-right: 30px;  
    }
    &--search {
        margin-top:50px;
        width: 100%;
        max-width: 458px;
        @media  (max-width: 800px){
            & {
                margin-top: 60px;
                width: 85%;
               
            }
        }


        @media  (max-width: 650px){
            & {
                max-width: 458px;
            }
        }
        @media  (max-width: 600px){
            & {
                max-width: 420px;
            }
        }

        @media  (max-width: 500px){
            & {
                width: 85%;
                max-width: 450px;
            }
        }
    }
    &::placeholder {
    color: $orange;
    }
    
   @media (max-width: 700px) {
    &--conversion {
            padding: 6px;
            margin-right: 0;
            width: 319px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        &::placeholder {
            font-size: 14px;
        }
    }
   @media (max-width: 600px) {
    &--conversion {
        width: 277px;
        }
        &--conversion::placeholder {
            font-size: 12px;
        }
    }
   @media (max-width: 500px) {
    &--conversion {
        width: 237px;
        }
    }
}

 