@import '../../sass/_vars.scss';

.select {
    outline: none;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid $orange;
    background: $black-secondary;
    color: $orange;
    text-align: center;
    font-size: 16px;
    box-shadow: 9px 9px 10px $black-secondary;
    @media  (max-width: 700px){
        & {
            font-size: 14px;
        }
    }
    @media  (max-width: 600px){
        & {
            font-size: 12px;
        }
    }
    @media  (max-width: 500px){
        & {
            font-size: 10px;
        }
    }

}
