.conversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
    // background: rgb(27, 25, 25);
}

.conversion__string {
    margin-bottom: 20px;
}

.conversion__title {
    font-size: 34px;
    margin-bottom:20px;
    color: white;
}