// @import './sass/index.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(27, 25, 25);
}

.table {
    margin:20px 30px 40px;
}


.title {
    font-size: 38px;
    font-weight: 500;
    margin-top:40px ;
    color: white;
}