@import '../../sass/_vars.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $black-primary;
}

.table {
    margin:20px 30px;
    @media  (max-width: 500px){
        & {
            margin:20px 0px;
            width: 90%;
            }
        }
   
}

.table__content {
    
    box-shadow: 9px 9px 10px  $black-secondary;
    @media  (max-width: 500px){
    & {
        display: flex;
        overflow-x: auto;
        }
    }
}


.title {
    font-size: 38px;
    font-weight: 500;
    margin-top:40px ;
    color: $white;
    @media  (max-width: 700px){
        & {
            font-size: 30px;
            margin-top:30px ; 
        }
    }
}